<div class="input-group">
    <select id="place">
      <option value="" selected disabled>위치 선택</option>
      <option value="DT_0001">인천</option>
      <option value="DT_0008">안산</option>
      <option value="DT_0007">목포</option>
    </select>
    <input type="date" id="start-date" value="{{ today }}" />
    <button class="search-button" onclick="getTph()">검색</button>
  </div>

  <div class="search-results">
    <div class="information">
      <div class="city_box">
        <h1 id="city"></h1>
      </div>
      <div class="t_box">
        <h3 id="t1"></h3>
        <h3 id="t2"></h3>
        <h3 id="t3"></h3>
        <h3 id="t4"></h3>
      </div>
    </div>
  </div>
  {% if user or kakaoUser %}
  <div class="recent-searches">최근 검색 기록이 여기 표시됩니다.</div>
  {% else %}
  <small>
    로그인을 통해 검색기록을 관리하고 추천 서비스를 받을 수 있습니다.
  </small>
  <div class="login-register-prompt">
    <button onclick="location.href='/login'" class="login-button">
      로그인
    </button>
    <button onclick="location.href='/register'" class="register-button">
      회원가입
    </button>
  </div>
  {% endif %}
</div>