header {
  background-color: #444;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.headerContents {
  max-width: 980px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

header h1 {
  margin: 0;
  font-size: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

header a:hover {
  background-color: #222;
}
