<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/client/style.css" />
    <link rel="stylesheet" href="/client/post.css" />
    <title>Posts</title>
  </head>
  <body>
    {% include "header.html" %}
    <div class="container">
      <div class="container_nav">
        {% if user %}
        <h3>{{ user.location }}</h3>
        <a href="/posts/write" class="write_button">글 쓰기</a>
        {% else %}
        <h3>서울 중구</h3>
        {% endif %}
      </div>
      <div id="posts">
        {% if posts.length > 0 %}
        <ul>
          {% for post in posts %}
          <li class="post" data-post-id="{{ post.id }}">
            <h3>{{ post.title | truncate(20, true, '...') }}</h3>
            <p>{{ post.content | truncate(20, true, '...') }}</p>
            <div class="post-footer">
              <span>Posted by: {{ post.User.nickname }}</span>
              <span>Posted on: {{ post.createdAt | timeSince }}</span>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No posts in {{ location }} yet.</p>
        {% endif %}
      </div>
    </div>
    <script src="/client/posts.client.js"></script>
  </body>
</html>
