<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="/client/post.css" />
    <link rel="stylesheet" href="/client/style.css" />
  </head>
  <body>
    {% include "header.html" %}
    <div class="container">
      {% if user %}
      <a href="/posts/write" class="button">글 쓰기</a>
      {% endif %}
      <div class="post-container">
        <h1 class="post-title">{{ post.title }}</h1>
        <p class="post-content">{{ post.content }}</p>
        <div class="post-footer">
          <span>
            <a href="/users/{{ post.User.id }}"
              >{{ post.User.nickname }}</a
            ></span
          >
          <span>{{ post.createdAt | timeSince }}</span>
        </div>

        <div class="post-tags">
          <strong>태그:</strong>
          {% for tag in post.Tags %}
          <span class="tag">#{{ tag.name }}</span>
          {% endfor %}
        </div>

        {% if user and user.id == post.User.id %}
        <div class="button-group">
          <a href="/posts/edit/{{ post.id }}" class="button">Edit</a>
          <form
            action="/posts/delete/{{ post.id }}"
            method="post"
            style="display: inline"
          >
            <button type="submit" class="button">Delete</button>
          </form>
        </div>
        {% endif %}
      </div>

      <h3>댓글 작성</h3>
      {% if user %}
      <form action="/comments/create" method="post" id="commentForm">
        <input type="hidden" name="postId" value="{{ post.id }}" />
        <textarea name="content" required></textarea>
        <button type="submit" class="button">댓글 작성</button>
      </form>
      {% else %}
      <p>로그인 후에 댓글을 이용할 수 있습니다.</p>
      {% endif %}

      <hr />
      <h3>댓글</h3>
      <div id="comments">
        {% for comment in comments %}
        <div class="comment">
          <p>{{ comment.content }}</p>
          <div class="post-footer">
            <span>
              <a href="/users/{{ post.User.id }}"
                >{{ comment.User.nickname }}</a
              ></span
            >
            <span>{{ comment.createdAt | timeSince }}</span>
          </div>
          {% if user and user.id == comment.userId %}
          <form action="/comments/delete/{{ comment.id }}" method="post">
            <button type="submit" class="button">댓글 삭제</button>
          </form>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
