<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/client/style.css" />
    <link rel="stylesheet" href="/client/post.css" />
    <title>Posts</title>
  </head>
  <body>
    {% include "header.html" %}
    <div class="container">
      <div class="container_nav">
        {% if user %}
        <h3>{{ user.location }}</h3>
        <a href="/posts/write" class="write_button">글 쓰기</a>
        {% else %}
        <h3>서울특별시 중구</h3>
        {% endif %}
      </div>

      <!-- 태그 검색 폼 추가 -->
      <div class="search-container">
        <form id="searchForm" action="/posts/search" method="get">
          <input
            type="text"
            id="searchTag"
            name="tag"
            placeholder="Search by tag..."
            class="searchTag"
          />
          <button type="submit">태그 검색</button>
        </form>
      </div>

      <div id="posts">
        {% if posts.length > 0 %}
        <ul>
          {% for post in posts %}
          <li class="post" data-post-id="{{ post.id }}">
            <h3>{{ post.title | truncate(20, true, '...') }}</h3>
            <p>{{ post.content | truncate(20, true, '...') }}</p>
            <div class="post-footer">
              <span>
                <a href="/users/{{ post.User.id }}"
                  >{{ post.User.nickname }}</a
                ></span
              >
              <span>{{ post.createdAt | timeSince }}</span>
            </div>
            <div class="post-tags">
              <strong>태그:</strong>
              {% for tag in post.Tags %}
              <span class="tag">#{{ tag.name }}</span>
              {% endfor %}
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>"{{ location }}"에서 생성된 게시글이 없습니다.</p>
        {% endif %}
      </div>
    </div>
    <script src="/client/posts.client.js"></script>
  </body>
</html>
